<footer class="bg-primary">
  <div class="container pt-sm-6 pt-4">
    <div
      class="d-flex justify-content-between align-items-center mb-4 absolute"
    >
      <ul class="nav m-0">
        <li class="nav-item">
          <a class="nav-link text-white pe-4 ps-0" href="../pages/index.html"
            >首頁</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-4" href="#">系列鏡框</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-4" href="#">門市據點</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-4" href="#">部落格</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-4" href="../pages/qa.html"
            >常見問題</a
          >
        </li>
      </ul>
      <ul class="d-flex list-unstyled m-0">
        <li class="me-4">
          <a href="#"
            ><img
              class="img-fluid"
              src="/assets/images/ic-social-fb.png"
              alt=""
          /></a>
        </li>
        <li class="me-4">
          <a href="#"
            ><img
              class="img-fluid"
              src="/assets/images/ic_social_ig.png"
              alt=""
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              class="img-fluid"
              src="/assets/images/ic_social_line.png"
              alt=""
          /></a>
        </li>
      </ul>
    </div>
    <ul class="contact pb-sm-5 m-0 list-unstyled border-bottom border-white">
      <li class="mb-2">
        <a href="#" class="d-flex align-items-center text-decoration-none"
          ><span class="material-symbols-outlined text-white me-3"> call </span>
          <h2 class="contact-text fs-2 text-white m-0">0800-000-000</h2>
        </a>
      </li>
      <li class="d-flex align-items-center">
        <a href="#" class="d-flex align-items-center text-decoration-none">
          <span class="material-symbols-outlined text-white me-3"> mail </span>
          <h2 class="contact-text fs-2 text-white m-0">glasses@business.com</h2>
        </a>
      </li>
    </ul>
    <div
      class="copyRight d-flex flex-sm-row flex-column justify-content-sm-between align-items-sm-center py-sm-5"
    >
      <p class="text-white fs-6 mb-sm-0 mb-2">
        Copyright © 2020 Glasses.All rights reserved.
      </p>
      <ul class="d-sm-flex list-unstyled m-0">
        <li>
          <a
            href="#"
            class="text-decoration-none text-white fs-sm-7 fs-6 me-sm-6 mb-sm-0 mb-2"
            >隱私權政策</a
          >
        </li>
        <li>
          <a href="#" class="text-decoration-none text-white fs-sm-7 fs-6"
            >服務條款</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
