<header class="bg-primary">
  <div class="container d-md-flex justify-content-between pt-3">
    <h1>
      <a href="index.html"
        ><img
          class="logo img-fluid"
          src="../assets/images/logo-white.png"
          alt="Web's logo"
      /></a>
    </h1>
    <nav>
      <ul class="nav w-100 align-items-center">
        <li class="nav-item mx-md-5">
          <a class="nav-link w-100 fs-5 text-white px-md-0" href="#"
            >系列鏡框</a
          >
        </li>
        <li class="nav-item mx-md-5">
          <a class="nav-link w-100 fs-5 text-white px-md-0" href="#"
            >門市據點</a
          >
        </li>
        <li class="nav-item mx-md-5">
          <a class="nav-link w-100 fs-5 text-white px-md-0" href="#">部落格</a>
        </li>
        <li class="nav-item ms-md-5">
          <a class="nav-link w-100 fs-5 text-white px-md-0" href="qa.html"
            >常見問題</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
