<header class="bg-primary">
  <div class="container d-sm-flex justify-content-between pt-3">
    <h1>
      <a href="index.html"
        ><img
          class="logo img-fluid"
          src="../assets/images/logo-white.png"
          alt="Web's logo"
      /></a>
    </h1>
    <nav>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link fs-5 text-white px-5 py-" href="#">系列鏡框</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 text-white px-5" href="#">門市據點</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 text-white px-5" href="#">部落格</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 text-white px-5 pe-sm-0" href="qa.html"
            >常見問題</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
