.logo {
  width: 80px;
}

@media (max-width: 768px) {
  header {
    .container {
      padding: 0;
      margin: 0;
    }
  }
  .nav-item {
    width: 50%;
    text-align: center;
    border: 1px solid white;
  }
  .nav-link {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
