// * {
//   outline: 1px solid #fff;
// }
.bg-img {
  background: url("/assets/images/home-header.png") no-repeat center center;
  background-size: cover;
  .container {
    padding-top: 296px;
    padding-bottom: 296px;
  }
}
.buyLink {
  padding: 6px 12px;
}
.bg-info {
  img {
    width: 100px;
  }
}
.bg-img2 {
  background: url("/assets/images/index-bg.png") no-repeat center center;
  background-size: cover;
}
.card-body {
  height: 205px;
}
.feedback {
  height: 136px;
  resize: none;
  &::-webkit-scrollbar {
    // 設定整體的scrollbar樣式
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    // 設定bar的樣式
    border-radius: 3px;
    background-color: $primary;
  }
  // &::-webkit-scrollbar-track {
  //   // 軌道的樣式
  // }
}

@media (max-width: 576px) {
  .bg-img {
    background: url("/assets/images/home-header-sm.png") no-repeat center center;
    background-size: cover;
    height: 396px;
    .container {
      padding-top: 144px;
      padding-bottom: 144px;
    }

    .fs-2 {
      font-size: 16px !important;
    }
    .display-3 {
      font-size: 24px !important;
    }
  }
}
