<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glass for U</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <div class="bg-img">
        <div class="container text-end">
          <p class="mb-0 fs-2 text-secondary">Promise-Desert 2020 早春系列</p>
          <h2 class="mb-2 mb-md-1 display-3 fw-bold text-secondary">
            看得清，才能看得遠
          </h2>
          <a class="buyLink text-decoration-none text-white bg-primary" href="#"
            >立即購買</a
          >
        </div>
      </div>
      <div class="bg-info py-7">
        <div class="container">
          <h2 class="mb-4 display-5 fw-bold text-secondary text-center">
            用專業的心，做專業的事
          </h2>
          <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
              <img
                class="mb-3"
                src="/assets/images/home-section2-1.png"
                alt=""
              />
              <h3 class="fs-4 mb-2 fw-bold text-secondary">單一價格</h3>
              <p class="fs-6 text-start">
                無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。
              </p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <img
                class="mb-3"
                src="/assets/images/home-section2-2.png"
                alt=""
              />
              <h3 class="fs-4 mb-2 fw-bold text-secondary">20 分鐘即可取件</h3>
              <p class="fs-6 text-start">
                為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
                20 分鐘即可完成。
              </p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <img
                class="mb-3"
                src="/assets/images/home-section2-3.png"
                alt=""
              />
              <h3 class="fs-4 mb-2 fw-bold text-secondary">安心售後服務</h3>
              <p class="fs-6 text-start">
                我們提供長達 120
                天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
              </p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <img
                class="mb-3"
                src="/assets/images/home-section2-4.png"
                alt=""
              />
              <h3 class="fs-4 mb-2 fw-bold text-secondary">關於鏡片</h3>
              <p class="fs-6 text-start">
                使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container py-7">
        <h2 class="mb-6 display-5 fw-bold text-secondary text-center">
          經典系列鏡框
        </h2>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <img
              class="img-fluid mb-2"
              src="/assets/images/home-section3-1.png"
              alt=""
            />
            <h3 class="display-5 fw-bolder text-primary text-center fst-italic">
              OPTICAL
            </h3>
          </div>
          <div class="col-lg-4 col-md-6">
            <img
              class="img-fluid mb-2"
              src="/assets/images/home-section3-2.png"
              alt=""
            />
            <h3 class="display-5 fw-bolder text-primary text-center fst-italic">
              SUNGLASSES
            </h3>
          </div>
          <div class="col-lg-4 col-md-6">
            <img
              class="img-fluid mb-2"
              src="/assets/images/home-section3-3.png"
              alt=""
            />
            <h3 class="display-5 fw-bolder text-primary text-center fst-italic">
              FUNCTIONAL
            </h3>
          </div>
        </div>
      </div>
      <div class="bg-img2 py-7">
        <div class="container">
          <h2 class="mb-6 display-5 fw-bold text-white text-center">
            聯名設計鏡框
          </h2>
          <div class="row g-0">
            <div class="col-lg-6 mb-md-4">
              <img
                class="img-fluid"
                src="/assets/images/home-section4-1.png"
                alt=""
              />
              <h3
                class="bg-white display-5 fw-bolder text-primary text-center fst-italic"
              >
                DOUBLE A+
              </h3>
            </div>
            <div class="col-lg-6">
              <img
                class="img-fluid"
                src="/assets/images/home-section4-2.png"
                alt=""
              />
              <h3
                class="bg-white display-5 fw-bolder text-primary text-center fst-italic"
              >
                YOUTH
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="container py-7">
        <h2 class="mb-6 display-5 fw-bold text-secondary text-center">
          顧客推薦
        </h2>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-3">
            <div class="card shadow">
              <img
                src="/assets/images/home-section5-1.png"
                alt=""
                class="card-img-top"
              />
              <div class="card-body">
                <p class="mb-2">Jessy</p>
                <!-- 問：如果BS5沒有medium(500)的粗度，要如何自己設定? -->
                <p class="">眼鏡品質優良，下次還會想來這邊購買！</p>
                <p class="mb-0 text-light mt-auto">2021/06/20</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card shadow">
              <img
                src="/assets/images/home-section5-2.png"
                alt=""
                class="card-img-top"
              />
              <div class="card-body">
                <p class="mb-2">凱倫</p>
                <p class="">
                  做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
                </p>
                <p class="mb-0 text-light mt-auto">2021/04/18</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card shadow">
              <img
                src="/assets/images/home-section5-3.png"
                alt=""
                class="card-img-top"
              />
              <div class="card-body">
                <p class="mb-2">悠悠</p>
                <p class="">
                  謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
                </p>
                <p class="mb-0 text-light mt-auto">2020/12/25</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card shadow">
              <img
                src="/assets/images/home-section5-4.png"
                alt=""
                class="card-img-top"
              />
              <div class="card-body">
                <p class="mb-2">Kyuan</p>
                <p class="">服務很好，品質沒有任何問題，非常喜歡。</p>
                <p class="mb-0 text-light mt-auto">2020/10/31</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-info py-7">
        <div class="container">
          <h2 class="mb-6 display-5 fw-bold text-secondary text-center">
            聯絡我們
          </h2>
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
              <p class="mb-4 fs-5">
                我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
              </p>
              <form action="">
                <div class="mb-3">
                  <label for="name" class="form-label">姓名</label>
                  <input type="text" class="form-control" id="name" />
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">聯絡電話</label>
                  <input type="text" class="form-control" id="" />
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">電子郵件</label>
                  <input type="text" class="form-control" id="" />
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">意見反應</label>
                  <input type="text" class="form-control" id="" />
                </div>
                <div class="form-check mb-6">
                  <input class="form-check-input" type="checkbox" />
                  <label class="form-check-label" for=""
                    >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label
                  >
                </div>
                <div class="row justify-content-center">
                  <div class="col-lg-8 col-md-6">
                    <button type="submit" class="btn btn-primary w-100 py-3">
                      確認送出
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
